# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROS 2
build
install
log
*.urdf

DynamixelSDK/
control_msgs/
create_autonomy/
dynamixel-workbench-msgs/
dynamixel-workbench/
libcreate/
open_manipulator/
open_manipulator_dependencies/
open_manipulator_msgs/
realsense-ros/
realtime_tools/
robotis_manipulator/
ros2_control/
ros2_controllers/
ros2_intel_realsense/
rplidar_ros/
