# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROS 2
build
install
log

src/DynamixelSDK/
src/control_msgs/
src/create_autonomy/
src/dynamixel-workbench-msgs/
src/dynamixel-workbench/
src/libcreate/
src/open_manipulator/
src/open_manipulator_dependencies/
src/open_manipulator_msgs/
src/realsense-ros/
src/realtime_tools/
src/robotis_manipulator/
src/ros2_control/
src/ros2_controllers/
src/ros2_intel_realsense/
src/rplidar_ros/
