<?xml version="1.0"?>
<robot name="youfork" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ca_description)/urdf/create_base.urdf.xacro" />
  <xacro:include filename="$(find ca_description)/urdf/create_2_gazebo.urdf.xacro" />
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x_robot.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
    <mesh filename="package://ca_description/meshes/create_2.dae" />
  </xacro:create_base>

  <xacro:open_manipulator_x parent="base_link">
    <origin xyz="0.1 0 0.1" rpy="0 -1.5708 0" />
  </xacro:open_manipulator_x>

  <xacro:sensor_d435 parent="base_link" name="d435">
    <origin xyz="0.12 0 0.08" rpy="0 -0.17453 0"/>
  </xacro:sensor_d435>

  <link name="rplidar">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.190"/>
      <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
    </inertial>
    <visual>
      <origin xyz="0 -0.035 0" rpy="1.570796 0 3.14159" />
      <geometry>
        <mesh filename="package://youfork_description/meshes/rplidar_main.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 -0.035 0" rpy="1.570796 0 3.14159" />
      <geometry>
        <mesh filename="package://youfork_description/meshes/rplidar_main.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="rplidar_to_camera_link" type="fixed">
    <origin xyz="0.01 -0.03 -0.01" rpy="0 0 0"/>
    <parent link="camera_link"/>
    <child link="rplidar"/>
  </joint>
  <link name="rplidar_scan_link"/>
  <joint name="rplidar_scan_link_to_rplidar" type="fixed">
    <origin xyz="-0.035 0.0 0.045" rpy="3.14159 0 0"/>
    <parent link="rplidar"/>
    <child link="rplidar_scan_link"/>
  </joint>

  <link name="jetson_xavier">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.548"/>
      <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.105 0.105 0.065" />
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.105 0.105 0.065" />
      </geometry>
    </collision>
  </link>
  <joint name="jetson_xavier_to_base_link" type="fixed">
    <origin xyz="-0.05 -0.09 0.11" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="jetson_xavier"/>
  </joint>

  <link name="krisdonia_battery">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.680389"/>
      <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.127 0.14986 0.02794" />
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.127 0.14986 0.02794" />
      </geometry>
    </collision>
  </link>
  <joint name="krisdonia_battery_to_base_link" type="fixed">
    <origin xyz="0 0.1 0.09" rpy="0 0 1.5708"/>
    <parent link="base_link"/>
    <child link="krisdonia_battery"/>
  </joint>
</robot>
