<?xml version="1.0"?>
<robot name="youfork" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ca_description)/urdf/create_base.urdf.xacro" />
  <xacro:include filename="$(find ca_description)/urdf/create_2_gazebo.urdf.xacro" />
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x_robot.urdf.xacro" />

  <xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
    <mesh filename="package://ca_description/meshes/create_2.dae" />
  </xacro:create_base>

  <xacro:open_manipulator_x parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:open_manipulator_x>
</robot>
